/*Overall*/

html {
    font-size: 1rem;
    --bg: #FFFFFF;
    --nav_bg: #dddddd;
    --color_text: #000000;
    --accent_text: #0019FF;
    --footer_bg: #cccccc;
}
//darkmode
html[data-theme="dark"] {
    font-size: 1rem;
    --bg: #333333;
    --nav_bg: #434343;
    --color_text: #ffffff;
    --accent_text: #ff41ef;
    --footer_bg: #727272;
}


body{
    background-color: var(--bg)!important;
    color: var(--color_text)!important;
}
  
/* sidebar */
aside{
    background-color: var(--nav_bg);
}
nav{
    position: fixed; 
    .nav-title{
        display: inline-table;
    }
} 
.nav_items{
    margin-top: 2em;
    li{
        font-size: larger;
        margin-bottom: 2em;
        a{
            color: var(--color_text);
        }
    }
}

//body
.body{
    padding-right: 0px;
    margin-right: 0px;
}
  
  
/* header */
.header{
    padding-top: 25em;
    padding-bottom: 22em;
    background-image: url("images/header.jpg");
    // margin-left: -15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-size: 3.2rem;
    }
    h5{
        font-size: 2.5rem;
    }
       
}
// main body
.main-body{
    padding-right: 0px;
}

// content
.content{
    .about{
        p{
            font-size: large;
            line-height: 2.2rem;
        }
    }
}


//footer
footer{
    background-color: var(--footer_bg);
    #ft_logo{
        a{
            color: var(--color_text);
        }
    }
}


//darkmode
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--bg);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


