
/*Overall*/


.container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1056px;
}

/* sidebar */




/* header */

.header { 
    background-image: url("images/trail2.png");
  
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Responsive */

/* @media screen and (max-width: 700px) {
    .sidebar-sticky {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar-title .nav-item{float: left;}
    div.content {margin-left: 0;}
}
  
@media screen and (max-width: 400px) {
.sidebar a {
    text-align: center;
    float: none;
}
} */
