

body{
    margin: 0;
    background-color: white;
}
.top{
    text-align: center;
    background-image: url("header.jpg");
    background-repeat:no-repeat;
    /* background-size: 1283.85px 722px; */
    background-size: 100% auto;
    height: 722px;
    background-attachment: fixed;
    background-position: center;
}

ul{
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    float: none;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 6%;
    word-spacing: 60px;
    text-align: center;
}
li{
    display: inline-block;
    
} 
li a{
    font-family: inherit;
    color: white;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
}
.about{
    text-align: center;
    
}
.notTop{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: solid;
    border-color: #2a5aa7;
}
p{
    font-size: 25px;
}
h1{
    font-size: 40px;
}
h2{
    text-align: left;
    font-size: 33px;
}
.left{
    text-align: left;
    font-size: 25px;
}